<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{peliculas.css}"/>
    <title>Peliculas</title>
</head>
<body>
<h1 th:text=${sms1}></h1>
<h1 th:text=${sms2}></h1>
<th:block th:each="usuario : ${usuarios}">
    <h2 th:text="${usuario.getUser()}"></h2>
    <ul>
        <li th:each="peli : ${usuario.getRecomendaciones()}" th:text="${peli}"></li>
    </ul>
</th:block>

<a href="recomendaciones">Añade tu recomendacion</a>
</body>
</html>